# Database
DATABASE_URL="postgres://postgres:VerySecurePassword123@localhost:5432/gorkagorlice"

# Google OAuth
GOOGLE_CLIENT_ID="google client id"
GOOGLE_CLIENT_SECRET="google client secret"

# Analytics
API_SENTRY_DSN="sentry dsn"
WORKER_SENTRY_DSN="sentry dsn"
PUBLIC_FRONTEND_SENTRY_DSN="sentry dsn"
PUBLIC_UMAMI_URL="https://umami.example.com"
PUBLIC_UMAMI_WEBSITE_ID="umami website id"

# Backend API
API_PORT="3000"
API_URL="http://localhost:3000"

# Frontend Web App
WEB_URL="http://localhost:5173"

# Required for setting session cookie etc.
COOKIE_DOMAIN=".localhost"

# School website related stuff
SCHOOL_WEBSITE="https://lukasiewicz.gorlice.pl"
TIMETABLE_WEBSITE="http://planlekcji.lukasiewicz.gorlice.pl"

# About app
ABOUT_AUTHORS="Michał Muzyka, Gabriel Środziński"
ABOUT_MAIL="mail@jezyq.ovh"
ABOUT_GITHUB="https://github.com/jezyq14/gorkagorlice"
ABOUT_DISCORD="https://discord.gg/caWnsuCVMF"

LOG_LEVEL="debug"
NODE_ENV=development